.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-family: $secondary-font;
  letter-spacing: 0.03em;
}
