.buttons-section {
  padding-top: 95px;
  padding-bottom: 50px;
}

.main-buttons {
  display: flex;
  justify-content: center;
}

.main-buttons .item {
  margin-right: 8px;

  &:last-child {
    margin-right: 0px;
  }
}

.port-button {
  font-family: inherit;
  background-color: var(--secondary-grey-bg-color);
  color: var(--title-text-color);
  border-radius: 4px;
  border: none;
  text-align: center;
  padding: 6px 22px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.main-buttons .item {
  margin-bottom: 50px;
}

.port-button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: $main-font, sans-serif;
}
