.social-buttons-team {
  display: flex;
}

.social-buttons-team .item {
  margin-right: 10px;
  height: 44px;
  width: 44px;

  &:last-child {
    margin-right: 0px;
  }
}

.social-link-team {
  justify-content: center;
  align-items: center;
  display: flex;
  fill: var(--svg-grey-color);
  margin-right: 10px;
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--secondary-text-color);
  }
}
