body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: $main-font, sans-serif;
  letter-spacing: 0.03em;
  outline: 2px solid black;
  margin: auto;
}

img {
  display: block;
}

p {
  margin: 0;
}

textarea {
  resize: none;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-nav .link,
.header-adress .adress-link,
.nav-svg,
.social-link-team,
.client-link,
.footer-contact-adress,
.footer-contact,
.social-link,
.port-button {
  transition: color var(--timing-duration) var(--timing-function),
    fill var(--timing-duration) var(--timing-function),
    background-color var(--timing-duration) var(--timing-function),
    border-color var(--timing-duration) var(--timing-function);
}
