:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --secondary-grey-bg-color: #f5f4fa;
  --hero-bg-color: #c4c4c4;
  --border-color: #eeeeee;
  --header-border-color: #ececec;
  --svg-grey-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --timing-duration: 250ms;
}

$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
